@import "./variables.scss";

.header {
  display: block !important;
}

.btn-hero {
  background: $primary-dark;
  color: $white-light;
  font-size: 1.6rem !important;
}

.btn-hero:hover {
  color: $white-light;
}

.btn-shadow {
  font-size: 1.6rem !important;
  box-shadow: $shadow-small;
  transition: all 0.4s linear;
}

.btn-shadow:hover {
  transform: translateY(-1px);
  box-shadow: $shadow-large;
}

.btn-white {
  background: $white-light;
  color: $primary-dark;
}

.btn-white:hover {
  background: $white-light;
  color: $primary-dark;
}
